@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <div class="navbar" style="background-color: darkgreen">
            <a class="navbar-brand" style="color: white" href="#">Ekstraklasa sezon 2016/2017</a>
        </div>
        <div class="row panel">
            <div id="categories" class="col-xs-3">
                <span class = "btn btn-block btn-default btn-lg">
                    @Html.ActionLink("Dodatni wynik bramek(strzelone-stracone)", "Menu")
                </span>
            </div>
            <div class="col-xs-8">
                @RenderBody()
            </div>
        </div>
    </body>
</html>*@

@RenderBody()